.scales-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.scale-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scale-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  color: #ffffff; /* Set the text color to white */
}

input[type="range"] {
  writing-mode: vertical-lr;
  appearance: none;
  width: 20px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #555555, #555555) no-repeat center
    center;
  background-size: 2px 100%;
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.3);
}
